body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}


.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button,
.btn,
select {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* Section top bottom gap */
.section-gap {
  padding: 4.5rem 0;
}

@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }
}

/* / Section top bottom gap */

/* title-styling */
h3.global-title {
  font-size: 40px;
  line-height: 45px;
  color: #16191e;
  margin-bottom: 50px;
  text-transform: capitalize;
}

@media screen and (max-width:767px) {
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width:600px) {
  h3.global-title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width:500px) {
  h3.global-title {
    font-size: 30px;
    line-height: 35px;
  }
}

/* / title-styling */
/* simple contact form */
.contact-form {
  background: #eee;
}

.field {
  margin-bottom: 20px;
}

.form-mid {
  background: #fff;
  padding: 3rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form-mid form input,
.form-mid form textarea {
  background: #f8f9fa;
  border: 2px solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  height: 55px;
}

.form-mid form textarea {
  resize: none;
  min-height: 140px;
}

.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  border: 2px solid #051b35;
  background: #fff;
  box-shadow: none;
}

button.btn-contact {
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  margin: 20px auto 0;
  color: #fff;
  background: #ff4c4c;
  border-color: #ff4c4c;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

@media(max-width: 568px) {
  .form-mid {
    padding: 1.5rem;
  }
}

/* /simple contact form */
.num{
  
  margin: 1px 8px;
  background-color: #ffffff;
  font-family: 'Anonymous Pro', monospace;
  color: rgb(29, 26, 26) ;
  font-weight: 100;
  padding: 5px;
  
}
#paymer-number-area{
  box-shadow: 10px 10px 40px ;
  border-left: 4px solid red;
  border-right: 4px solid red;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 10px 10px;
  padding: 5px 5px;
  font-family: 'Anonymous Pro', monospace;
}
#paymer-number-area h4{
  font-size: 16px;
}
#bk-num{
  background-color: #c7c7c7;
  font-weight: bold; 
  font-family: 'Anonymous Pro', monospace;
  border-radius: 2px;
  color: black; 
}
.num h4{
  font-family: 'Anonymous Pro', monospace;
}
#bk-box{
  border: 1px solid black;
  padding: 2px 2px;
  background-color: rgb(145, 225, 228);
}
#num-dta{
  background-color: #ff4800;
  border: 1px solid black;
  color: #f8f9fa;
}
#sm-box{
  border: 1px solid black;
  background-color:#ff4800;
  color: #f8f9fa;
}
#bang-text{
  font-size: 16px;
  color: black;
  font-weight: bold;
  background-color: chartreuse;
  border: 2px solid black;
  padding: 5px 2px;
  text-align: justify;
  display: inline-block;
}
#bk-text{
  font-weight: bold;
  border-radius: 4px;
  padding: 1px;
  color: #E2136E;
  
  
}
#ban-text-2{
  font-size: 16px;
  font-weight: bold;
  background-color: yellow;
  border: 2px solid black;
  padding: 5px 5px;
  text-align: justify;
  display: inline-block;
}
#cnl{
  border: 1px solid black;
  background-color: red;
  color: white;
}

span {
  content: "\26A0";
  color: #ed1c24;
  font-weight: bold;
}
#sm-mny{
  font-size: 7px;
  text-decoration: none;
  color: #E2136E;
  ;
  text-align: left;
  font-weight: bold;
  border: 1px solid black;
  background-color: rgb(216, 216, 216);
  padding: 2px 2px;

}